.submit-button {

    margin-top: 2em;
    margin-bottom: none;
    margin-left: none;
    margin-right: none;
}

.input-button {

    padding-right: 3.5rem;
    padding-bottom: 2.2rem;
}

.input-area {

    margin:4rem;
}

.input-field {

    font-family: 'Gaegu', cursive;
    font-size:2em;
    background-color: gray;
    color:white;

}

.input-title {

    color:white;
    padding-left: 1em;
    padding-right: 1em;

}